NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDm9RAcB4XflEcJYidYxjNY6YstYRx9zaI"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="pharmawise-b0289.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="pharmawise-b0289"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="pharmawise-b0289.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="454409978706"
NEXT_PUBLIC_FIREBASE_APP_ID="1:454409978706:web:63a649f996089aad4c308b"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-CMPSW299B2"

FIREBASE_FUNCTIONS_BASE_URL="http://127.0.0.1:5001/pharmawise-amr-dev/us-central1"

FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
# Remember to replace literal \n with newline characters when populating locally.
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"

NEXT_PUBLIC_CHATBOT_ENDPOINT="/api/chatbot"
NEXT_PUBLIC_ENVIRONMENT="development"
NEXT_PUBLIC_SENTRY_DSN=""


